<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popol.dakku.modules.web.menu.MenuMapper">

	<select id="getMenuList" resultType="map">
		with recursive cte as
		(
			select
				menu_code,
		        menu_nm,
		        menu_url,
		        menu_seq,
		        menu_class,
		        menu_parent,
		        menu_yn
			from menu
		    where menu_parent = 'ROOT'
		    union all
		    select
				A.menu_code,
		        A.menu_nm,
		        A.menu_url,
		        A.menu_seq,
		        A.menu_class,
		        A.menu_parent,
		        A.menu_yn
			from menu A
		    inner join cte on A.menu_parent = cte.menu_code
		)
		select 
			menu_code,
			menu_nm,
			menu_url,
			menu_seq,
			menu_class,
			menu_parent
		from cte
		where menu_yn = 'Y'
	</select>

</mapper>