<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popol.dakku.modules.web.auth.AuthMapper">
	
	<select id="getUserInfo" parameterType="String" resultType="UserVO">
		select
			u.u_id,
			u.sns_type,
			nick,
			exp,
			cheer,
			stamp,
			u.lv_code,
			c_parent_code as icon_class,
			c_content4 as icon_color,
			c_nm as lv,
			cast(c_content1 as unsigned) + cast(c_content2 as unsigned) as next_required_exp, 
			c_content3 as additional_exp
		from user u
		inner join common_code c on (c.c_code = u.lv_code)
		where email = #{email}
	</select>
	
	<insert id="addUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="u_id">
		insert into user (sns_type, sns_id, email, nick, lv_code)
		values (#{sns_type}, #{sns_id}, #{email}, #{nick}, #{lv_code})
	</insert>
	
	<insert id="addRole" parameterType="UserVO">
		insert into role (role_code, u_id)
		values 
		<foreach collection="roles" item="role">
		(#{role}, #{u_id})
		</foreach>
	</insert>
	
	<select id="getRoles" parameterType="Long" resultType="HashMap">
		select role_code from role where u_id = #{u_id}
	</select>
	
	<select id="addItem" parameterType="HashMap">
		insert into inven (u_id, c_code, p_id)
		values (#{u_id}, #{c_code}, #{p_id})
	</select>
	
	<select id="getTodayLoginLog" parameterType="Long" resultType="int">
		select
			count(*)
		from act_log
		where u_id = #{u_id}
		and al_type = 'L'
		and date_format(created_at, '%y%m%d') = date_format(NOW(), '%y%m%d')
	</select>
	
	<update id="plusExp" parameterType="HashMap">
		update user
		set
			exp = exp + cast(#{plusExp} as unsigned)
		where u_id = #{u_id}
	</update>
	
	<update id="levelUp" parameterType="HashMap">
		update user
		set
			lv_code = #{lv_code}
		where u_id = #{u_id}
	</update>
	
</mapper>