<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout/noleft-layout.html}">
	
<div class="row justify-content-center" layout:fragment="content">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
              </div>
              <form class="user" action="/j_spring_security_check" method="post">
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="email" name="email" 
                  aria-describedby="emailHelp" placeholder="이메일">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호">
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">로그인</button>
                <hr>
                <th:block th:each="url : ${urls}">
                	<a class="btn btn-user btn-block" th:href="${url.value}" th:classappend="${'btn-' + url.key}">
                		<th:block th:if="${url.key == 'Google'}">
		                	<i class="fab fa-google fa-fw"></i> 구글 로그인
                		</th:block>
                		<th:block th:if="${url.key != 'Google'}">
                			<img th:src="@{/resources/img/naver.png}" style="width: 12px;"> 네이버 로그인
                		</th:block>
	                </a>
                </th:block>
<!--                 <a href="/oauth2/authorization/google" class="btn btn-google btn-user btn-block"> -->
<!--                   <i class="fab fa-google fa-fw"></i> 구글 로그인 -->
<!--                 </a> -->
<!--                 <a href="/oauth2/authorization/naver" class="btn btn-naver btn-user btn-block" th:href="${naverUrl}"> -->
<!--                   <img th:src="@{/resources/img/naver.png}" style="width: 12px;"> 네이버 로그인 -->
<!--                 </a> -->
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/find-password">비밀번호 찾기</a>
              </div>
              <div class="text-center">
                <a class="small" href="/join">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</html>