<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popol.dakku.modules.web.quest.QuestMapper">

	<select id="getQuestList" parameterType="HashMap" resultType="HashMap">
		select
			q.q_id,
			q_d_date,
			q_wm_start,
			q_wm_end,
			q_score,
			q_content,
			q_sticker,
			qc_id,
			qc_content,
			qc_compl_yn
		from quest q
		left join quest_content qc on (qc.q_id = q.q_id)
		where u_id = #{u_id}
		and q_div = #{q_div}
		<if test='q_div.equals("D")'>
		and q_d_date = #{q_d_date}
		</if>
		<if test='!q_div.equals("D")'>
		and q_wm_end = #{q_wm_end}
		</if>
	</select>
	
	<insert id="addQuest" parameterType="HashMap" useGeneratedKeys="true" keyProperty="q_id">
		insert into quest (q_div, q_d_date, q_wm_start, q_wm_end, u_id)
		values (#{q_div}, #{q_d_date}, #{q_wm_start}, #{q_wm_end}, #{u_id})
	</insert>
	
	<insert id="addQuestDetail" parameterType="HashMap">
		insert into quest_content (qc_content, q_id)
		values
		<foreach collection="detail" item="item" separator=",">
			(#{item}, #{q_id})
		</foreach> 
	</insert>
	
	<select id="getQuestInfo" parameterType="HashMap" resultType="String">
		select
			q_id
		from quest
		where u_id = #{u_id}
		and q_div = #{q_div}
		<if test='q_div.equals("D")'>
		and q_d_date = #{q_d_date}
		</if>
		<if test='!q_div.equals("D")'>
		and q_wm_end = #{q_wm_end}
		</if>
	</select>
	
	<update id="clearedOneQuest" parameterType="Long">
		update quest_content
		set
			qc_compl_yn = 'Y',
			updated_at = NOW()			
		where qc_id = #{qc_id}
	</update>
	
	<update id="modifyQuest" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			<if test="item.flag == 'D'">
				delete
				from quest_content
				and qc_id = #{item.qc_id}
			</if>
			<if test="item.flag == 'U'">
				update quest_content
				set
					qc_content = #{item.qc_content},
					qc_compl_yn = #{item.qc_compl_yn},
					updated_at = NOW()
				and qc_id = #{item.qc_id}
			</if>
		</foreach>
	</update>
	
	<select id="getQuestCnt" parameterType="HashMap" resultType="HashMap">
		select
			qc_compl_yn,
			count(*) as cnt
		from quest q
		left join quest_content qc on (qc.q_id = q.q_id)
		where u_id = #{u_id}
		and q_div = #{q_div}
		group by qc_compl_yn
	</select>
	
</mapper>