<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout/default-layout}">
	
	<th:block layout:fragment="custom-css">
	</th:block>
	
	<th:block layout:fragment="custom-js">
		<script th:src="@{/resources/js/custom/quest-quests.js}"></script>
		<script>
		$(function () {
	        $('[data-toggle="tooltip"]').tooltip();
	    });
		</script>
	</th:block>
	
	<div class="container-fluid" layout:fragment="content">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800" th:text=${pageinfo.menu_nm}>게시판 이름</h1>
			<a th:href="@{/auth/post/write/}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-pen fa-sm text-white-50"></i> 글쓰기</a>
		</div>
		
		<div class="row">
			<div class="col-lg">
				<div class="card shadow mb-4">
					<!-- Card Header -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    	<h6 class="m-0 font-weight-bold text-primary">퀘스트 로그</h6>
	                </div>
					<!-- Card Body -->
					<div class="card-body" style="overflow-x: auto; white-space: nowrap;">
						<span th:utext="${preWeek}"></span>
						<div class="btn-group-vertical mr-1" th:utext="${thisWeek}"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
		   <!-- Left Card List -->
           <div class="col-lg-6">
           	   <!-- Daily Quest Card -->
               <div class="card shadow mb-4">
                   <!-- Card Header -->
                   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h6 class="m-0 font-weight-bold text-primary">일일 퀘스트</h6>
                   </div>
                   <!-- Card Body -->
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table" width="100%">
                               <thead>
                                   <tr>
                                       <th>퀘스트 내용</th>
                                       <th></th>
                                       <th class="text-right">
                                       		<button class="btn btn-primary btn-circle btn-sm add" btn-type="D">
				                               <i class="fas fa-plus"></i>
				                           </button>
				                           <button class="btn btn-warning btn-circle btn-sm get" btn-type="D">
				                               <i class="fas fa-edit"></i>
				                           </button>
                                       </th>
                                   </tr>
                               </thead>
                               <tbody>
									<tr th:if="${#lists.size(daily) == 0}">
										<td colspan="3">작성한 일일 퀘스트가 없습니다</td>
									</tr>
<!-- 									<tr> -->
<!-- 						            	<td colspan="3"> -->
<!-- 						            		<textarea class="form-control" rows="3"></textarea> -->
<!-- 						            		<div class="form-group"> -->
<!-- 							            		<div class="form-check form-check-inline"> -->
<!-- 							                		<input class="form-check-input cleared" type="checkbox" value="Y" name="cleared" id="cleared"> -->
<!-- 													<label class="form-check-label" for="cleared">클리어</label> -->
<!-- 												</div> -->
<!-- 							            		<div class="form-check form-check-inline"> -->
<!-- 							                		<input class="form-check-input deleted" type="checkbox" value="Y" name="deleted" id="deleted"> -->
<!-- 													<label class="form-check-label" for="deleted">삭제</label> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<button class="btn btn-primary btn-sm edit">저장</button> -->
<!-- 											<button class="btn btn-dark btn-sm cancel">취소</button> -->
<!-- 						            	</td> -->
<!-- 						            </tr> -->
                                    <tr th:each="item : ${daily}">
                                       <td>
                                       		<span th:text="${item.qc_content}"></span>
											<button class="btn btn-info btn-circle btn-sm">
											    <i class="fas fa-info-circle"></i>
											</button>
                                       </td>
                                       <td>
                                       		<div th:if="${item.qc_compl_yn == 'Y'}" class="bg-success text-white p-1 rotate-n-15 d-inline-block float-right">Cleared!</div>
                                       </td>
                                       <td>
                                           <button class="btn btn-success btn-circle btn-sm float-right cleared" th:disabled="${item.qc_compl_yn == 'Y'}" th:attr="qc-id=${item.qc_id}">
                                               <i class="fas fa-check"></i>
                                           </button>
                                       </td>
                                    </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>             
           </div>
           <!-- Left Card List -->

           <!-- Right Card List -->
           <div class="col-lg-6">
               <!-- Weekly Quest Card -->
               <div class="card shadow mb-4">
                   <!-- Card Header -->
                   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h6 class="m-0 font-weight-bold text-primary">주간 퀘스트</h6>
                   </div>
                   <!-- Card Body -->
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table" width="100%">
                               <thead>
                                   <tr>
                                       <th>퀘스트 내용</th>
                                       <th></th>
                                       <th class="text-right">
                                       		<button class="btn btn-primary btn-circle btn-sm add" btn-type="W">
				                               <i class="fas fa-plus"></i>
				                           </button>
				                           <button class="btn btn-warning btn-circle btn-sm get" btn-type="W">
				                               <i class="fas fa-edit"></i>
				                           </button>
                                       </th>
                                   </tr>
                               </thead>
                               <tbody>
									<tr th:if="${#lists.size(weekly) == 0}">
										<td colspan="3">작성한 주간 퀘스트가 없습니다</td>
									</tr>
                                    <tr th:each="item : ${weekly}">
                                       <td>
                                       		<span th:text="${item.qc_content}"></span>
											<button class="btn btn-info btn-circle btn-sm">
											    <i class="fas fa-info-circle"></i>
											</button>
                                       </td>
                                       <td>
                                       		<div th:if="${item.qc_compl_yn == 'Y'}" class="bg-success text-white p-1 rotate-n-15 d-inline-block float-right">Cleared!</div>
                                       </td>
                                       <td>
                                           <button class="btn btn-success btn-circle btn-sm float-right cleared" th:disabled="${item.qc_compl_yn == 'Y'}" th:attr="qc-id=${item.qc_id}">
                                               <i class="fas fa-check"></i>
                                           </button>
                                       </td>
                                    </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>

               <!-- Monthly Quest Card  -->
               <div class="card shadow mb-4">
                   <!-- Card Header -->
                   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h6 class="m-0 font-weight-bold text-primary">월간 퀘스트</h6>
                   </div>
                   <!-- Card Body -->
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table" width="100%">
                               <thead>
                                   <tr>
                                       <th>퀘스트 내용</th>
                                       <th></th>
                                       <th class="text-right">
                                       		<button class="btn btn-primary btn-circle btn-sm add" btn-type="M">
				                               <i class="fas fa-plus"></i>
				                           </button>
				                           <button class="btn btn-warning btn-circle btn-sm get" btn-type="M">
				                               <i class="fas fa-edit"></i>
				                           </button>
                                       </th>
                                   </tr>
                               </thead>
                               <tbody>
									<tr th:if="${#lists.size(monthly) == 0}">
										<td colspan="3">작성한 월간 퀘스트가 없습니다</td>
									</tr>
                                    <tr th:each="item : ${monthly}">
                                       <td>
                                       		<span th:text="${item.qc_content}"></span>
											<button class="btn btn-info btn-circle btn-sm">
											    <i class="fas fa-info-circle"></i>
											</button>
                                       </td>
                                       <td>
                                       		<div th:if="${item.qc_compl_yn == 'Y'}" class="bg-success text-white p-1 rotate-n-15 d-inline-block float-right">Cleared!</div>
                                       </td>
                                       <td>
                                           <button class="btn btn-success btn-circle btn-sm float-right cleared" th:disabled="${item.qc_compl_yn == 'Y'}" th:attr="qc-id=${item.qc_id}">
                                               <i class="fas fa-check"></i>
                                           </button>
                                       </td>
                                    </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>

           </div>
           <!-- Right Card List -->

       </div>
		
		<div class="row">
			<div class="col-lg">
				<div class="card shadow mb-4">
					<!-- Card Header -->
					<div></div>
					<!-- Card Body -->
					<div></div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="questModal" tabindex="-1" aria-labelledby="questModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="questModalLabel">수정</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form th:action="@{/auth/modify/comment}" method="post" id="modalForm">
		        	<input type="hidden" name="cmId">
		        	<input type="hidden" name="cmParent">
		          	<textarea class="summernote" id="modal-summernote" name="cmContent" required="required"></textarea>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		        <button type="button" class="btn btn-primary" id="modal-save">등록</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
	
</html>