<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>다꾸 | 로그인</title>
	
	<!-- Custom fonts for this template-->
	<link th:href="@{/resources/css/fontawesome-free/all.min.css}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- Custom styles for this template-->
	<link th:href="@{/resources/css/custom/sb-admin-2.min.css}" rel="stylesheet">
	<!-- Each path custom css -->
	<th:block layout:fragment="custom-css"></th:block>
	
<body class="bg-gradient-primary">

	<div class="container">
		<div layout:fragment="content"></div>
	</div>
	
	<!-- Bootstrap core JavaScript-->
	<script type="text/javascript" th:src="@{/resources/js/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap/bootstrap.bundle.min.js}"></script>
	<!-- Core plugin JavaScript-->
	<script type="text/javascript" th:src="@{/resources/js/jquery/jquery.easing.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script type="text/javascript" th:src="@{/resources/js/custom/sb-admin-2.min.js}"></script>
	<!-- Each path custom js -->
	<th:block layout:fragment="custom-js"></th:block>
</body>
</html>