<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout/default-layout}">
	
	<th:block layout:fragment="custom-css">
		<link th:href="@{/resources/css/custom/post-view.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/resources/css/summernote/summernote-bs4.min.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="custom-js">
		<script th:src="@{/resources/js/summernote/summernote-bs4.min.js}"></script>
		<script th:src="@{/resources/js/summernote/lang/summernote-ko-KR.min.js}"></script>
		<script th:src="@{/resources/js/custom/post-view.js}"></script>
		<script th:src="@{/resources/js/custom/file-common.js}"></script>
	</th:block>
	
	<div class="container-fluid" layout:fragment="content">
		<span th:text="${pageinfo.menu_code}" id="menuCode" style="display: none;"></span>
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800" th:text="${pageinfo.menu_nm}">게시판 이름</h1>
			<a th:href="@{/auth/post/write/}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-pen fa-sm text-white-50"></i> 글쓰기</a>
		</div>
     
		<div class="row">
			<div class="col">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary text-right">
					  	<i class="fas fa-eye text-primary"></i> <span th:text="${p.p_cnt}"></span> 
					  </h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h5 class="card-title">#<span th:text="${p.p_id}" id="pId">글번호</span>&nbsp;&nbsp;<span th:text="${p.ms_nm == 'null'} ? ${p.p_title} : '['+${p.ms_nm}+'] '+${p.p_title}">게시글 제목</span></h5>
								<div class="row dropdown no-arrow">
									<a class="nav-link dropdown-toggle" href="#" id="postDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<p>
											<i class="fas fa-dice-one fa-2x" style="color: gray;position: absolute;top: 4px"></i>
											<span style="padding: 0 0 0 40px;" th:text="${p.nick}">작성자닉</span>
										</p>
									</a>
									<div class="dropdown-menu shadow" aria-labelledby="postDropdown">
										<a class="dropdown-item" href="#">작성자 검색</a>
										<a class="dropdown-item" href="#">로그 보기</a>
									</div>
								</div>
								<p class="blockquote-footer"><cite title="Source Title" th:text="${p.updated_at == 'null'} ? ${p.created_at} : ${p.updated_at}+'(수정됨)'">날짜</cite></p>
								<p class="card-text" th:utext="${p.p_content}">게시글 내용</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 offset-md-3 text-center">
								<form th:action="@{/auth/emotion}" method="post" sec:authorize="isAuthenticated()">
									<input type="hidden" name="pId" th:value="${p.p_id}">
									<input type="hidden" name="emotion" id="emotion">
									<button type="submit" data-state="G" class="mr-2 btn emotion" th:classappend="${p.u_id == #authentication.principal.attributes.uId and alreadyEmotion == 'G'} ? 'btn-lg'"><i class="fas fa-heart text-danger fa-2x"></i><span id="goodCnt" class="text-lg ml-2" th:text="${p.p_good}"></span></button>
									<button type="submit" data-state="B" class="ml-2 btn emotion" th:classappend="${p.u_id == #authentication.principal.attributes.uId and alreadyEmotion == 'B'} ? 'btn-lg'"><i class="fas fa-heart-broken text-dark fa-2x"></i><span id="badCnt" class="text-lg ml-2" th:text="${p.p_bad}"></span></button>
								</form>
								<th:block sec:authorize="isAnonymous()">
									<button type="button" class="mr-2 btn" onclick="alert('로그인이 필요합니다'); location.href='/login';"><i class="fas fa-heart text-danger fa-2x"></i><span id="goodCnt" class="text-lg ml-2" th:text="${p.p_good}"></span></button>
									<button type="button" class="ml-2 btn" onclick="alert('로그인이 필요합니다'); location.href='/login';"><i class="fas fa-heart-broken text-dark fa-2x"></i><span id="badCnt" class="text-lg ml-2" th:text="${p.p_bad}"></span></button>
								</th:block>
							</div>
						</div>
					</div>
					<th:block sec:authorize="isAuthenticated()">
						<div class="card-footer" th:if="${p.u_id == #authentication.principal.attributes.uId}">
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								<div class="btn-group mr-2" role="group" aria-label="Second group">
									<form th:action="@{/auth/post/get}" method="post">
										<input type="hidden" name="pId" th:value="${p.p_id}">
										<button type="submit" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> 글 수정</button>
									</form>
								</div>
								<div class="btn-group" role="group" aria-label="Third group">
									<form th:action="@{/auth/remove/post}" method="post">
										<input type="hidden" name="menuCode" th:value="${pageinfo.menu_code}">
										<input type="hidden" name="pId" th:value="${p.p_id}">
										<button type="button" id="removePostBtn" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-trash-alt fa-sm text-white-50"></i> 글 삭제</button>
									</form>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				<!-- Writer -->
				<div class="card mb-4">
					<div class="card-header">
						작성자 정보
					</div>
					<div class="card-body">
					  
					</div>
				</div>
				<!-- Comments -->
				<div class="card shadow mb-4">
					<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
					  <h6 class="m-0 font-weight-bold text-primary">총 <span class="text-info" id="cmtCnt" th:text="${#lists.size(comments)}"></span>개의 댓글 </h6>
					</a>
					<div class="collapse show" id="collapseCardExample">
					  <div class="card-body">
					  	<div id="comments">
							<th:block th:each="c : ${comments}">
								<div class="border pb-2 mb-3" th:if="${c.cm_parent == 0}">
									<!-- 본댓글 작성자 정보 -->
									<div class="row dropdown no-arrow c-row">
										<a class="nav-link dropdown-toggle col-sm-6 col-md-8 col-lg-8 col-xl-10" href="#" th:id="'commentDropdown'+${c.cm_id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-2x c-icon" th:classappend="'fa-'+${c.icon_class}" th:style="'color:'+ ${c.icon_color}"></i>
											<span class="c-nick" th:text="${c.nick}">댓글닉</span>
											<span class="bg-primary rounded-sm text-light text-xs" th:if="${p.u_id == c.u_id}">작성자</span>
										</a>
										<div class="dropdown-menu shadow" th:attr="aria-labelledby='commentDropdown'+${c.cm_id}">
											<a class="dropdown-item" href="#">작성자 검색</a>
											<a class="dropdown-item" href="#">로그 보기</a>
										</div>
										<div class="col text-center">
											<div class="btn-group" role="group" sec:authorize="isAuthenticated()">
											  <button type="button" class="btn btn-outline-danger btn-sm cmtemotion" th:attr="data-id=${c.cm_id}" data-state="G" th:classappend="${c.emotion == 'G'} ? 'active'"><i class="fas fa-heart" th:text="${c.cm_good}"></i></button>
											  <button type="button" class="btn btn-outline-secondary btn-sm cmtemotion" th:attr="data-id=${c.cm_id}" data-state="B" th:classappend="${c.emotion == 'B'} ? 'active'"><i class="fas fa-heart-broken" th:text="${c.cm_bad}"></i></button>
											  <button type="button" class="btn btn-primary btn-sm addCmt" data-toggle="modal" data-target="#commentModal" th:attr="data-parent=${c.cm_id}"><i class="fas fa-plus"></i></button>
											  <th:block th:if="${c.deleted_yn == 'N' and c.u_id == #authentication.principal.attributes.uId}">
												  <button type="button" class="btn btn-info btn-sm editCmt" data-toggle="modal" data-target="#commentModal" th:attr="data-id=${c.cm_id}"><i class="fas fa-edit"></i></button>
												  <button type="button" class="btn btn-danger btn-sm removeCmt" th:attr="data-id=${c.cm_id}"><i class="fas fa-trash-alt"></i></button>
											  </th:block>
											</div>
											<div class="btn-group" role="group" sec:authorize="isAnonymous()">
											  <button onclick="alert('로그인이 필요합니다'); location.href='/login';" type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-heart" th:text="${c.cm_good}"></i></button>
											  <button onclick="alert('로그인이 필요합니다'); location.href='/login';" type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-heart-broken" th:text="${c.cm_bad}"></i></button>
											</div>
										</div>
									</div>
									<!-- 본댓글 내용 -->
									<div class="col">
										<div class="c-content">
											<div class="c-date" th:text="${c.updated_at == 'null'} ? ${c.created_at} : ${c.updated_at}+' (수정됨)'">날짜</div>
											<span th:utext="${c.deleted_yn == 'N'} ? (${c.cm_bad < 10} ? ${c.cm_content} : '[블라인드 처리된 댓글입니다]') : '[삭제된 댓글입니다]'">댓글내용</span>
											<button type="button" th:if="${c.cm_bad >= 10}" class="btn btn btn-warning btn-sm" onclick="javascript: $(this).next().css({'display': 'block'});">블라인드 댓글 보기</button>
											<span th:utext="${c.deleted_yn == 'N' and c.cm_bad >= 10} ? ${c.cm_content}" style="display: none;"></span>
										</div>
									</div>
								</div>
								<!-- 본댓글의 댓글들 -->
								<div class="cc-comment" th:if="${c.cm_parent > 0}">
									<div class="row dropdown no-arrow c-row">
										<a class="nav-link dropdown-toggle col-sm-6 col-md-8 col-lg-8 col-xl-10" href="#" th:id="'commentDropdown'+${c.cm_id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-hand-point-right fa-2x text-primary cc-icon-arrow"></i>
											<i class="fas fa-2x cc-icon"  th:classappend="'fa-'+${c.icon_class}" th:style="'color:'+ ${c.icon_color}"></i>
											<span class="cc-nick" th:text="${c.nick}">대댓글닉</span>
											<span class="bg-primary rounded-sm text-light text-xs" th:if="${p.u_id == c.u_id}">작성자</span>
										</a>
										<div class="dropdown-menu shadow" th:attr="aria-labelledby='commentDropdown'+${c.cm_id}">
											<a class="dropdown-item" href="#">작성자 검색</a>
											<a class="dropdown-item" href="#">로그 보기</a>
										</div>
										<div class="col text-center">
											<div class="btn-group" role="group" sec:authorize="isAuthenticated()">
											  <button type="button" class="btn btn-outline-danger btn-sm cmtemotion" th:attr="data-id=${c.cm_id}" data-state="G" th:classappend="${c.emotion == 'G'} ? 'active'"><i class="fas fa-heart" th:text="${c.cm_good}"></i></button>
											  <button type="button" class="btn btn-outline-secondary btn-sm cmtemotion" th:attr="data-id=${c.cm_id}" data-state="B" th:classappend="${c.emotion == 'B'} ? 'active'"><i class="fas fa-heart-broken" th:text="${c.cm_bad}"></i></button>
											  <th:block th:if="${c.deleted_yn == 'N' and c.u_id == #authentication.principal.attributes.uId}">
												  <button type="button" class="btn btn-info btn-sm editCmt" data-toggle="modal" data-target="#commentModal" th:attr="data-id=${c.cm_id}"><i class="fas fa-edit"></i></button>
												  <button type="button" class="btn btn-danger btn-sm removeCmt" th:attr="data-id=${c.cm_id}"><i class="fas fa-trash-alt"></i></button>
											  </th:block>
											</div>
											<div class="btn-group" role="group" sec:authorize="isAnonymous()">
											  <button onclick="alert('로그인이 필요합니다'); location.href='/login';" type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-heart" th:text="${c.cm_good}"></i></button>
											  <button onclick="alert('로그인이 필요합니다'); location.href='/login';" type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-heart-broken" th:text="${c.cm_bad}"></i></button>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-11">
											<div class="c-date" th:text="${c.updated_at == 'null'} ? ${c.created_at} : ${c.updated_at}+' (수정됨)'">날짜</div>
											<span th:utext="${c.deleted_yn == 'N'} ? (${c.cm_bad < 10} ? ${c.cm_content} : '[블라인드 처리된 댓글입니다]') : '[삭제된 댓글입니다]'">댓글내용</span>
											<button type="button" th:if="${c.cm_bad >= 10}" class="btn btn btn-warning btn-sm" onclick="javascript: $(this).next().css({'display': 'block'});">블라인드 댓글 보기</button>
											<span th:utext="${c.deleted_yn == 'N' and c.cm_bad >= 10} ? ${c.cm_content}" style="display: none;"></span>
										</div>
									</div>
								</div>
							</th:block>
						</div>
						
						<!-- 댓글 작성란 -->
						<div class="border c-txtarea">
							<form th:action="@{/auth/save/comment}" method="post" id="commentForm" sec:authorize="isAuthenticated()">
								<input type="hidden" name="pId" th:value="${p.p_id}" required="required">
							  <div class="row justify-content-center">
								<div class="col-sm-6 col-md-8 col-lg-10 col-xl-11">
									<textarea class="summernote" id="comment-summernote" name="cmContent" maxlength="1000" required="required"></textarea>
								</div>
								<div class="col-sm-6 col-md-4 col-lg-2 col-xl-1">
								  <button type="button" class="btn btn-primary btn-lg btn-block-100" id="save">등록</button>
								</div>
							  </div>
							</form>
							<div class="row justify-content-center" sec:authorize="isAnonymous()">
								<div class="col-sm-6 col-md-8 col-lg-10 col-xl-11">
									<textarea class="form-control" rows="5" placeholder="로그인 후 댓글 작성이 가능합니다" readonly="readonly"></textarea>
								</div>
								<div class="col-sm-6 col-md-4 col-lg-2 col-xl-1">
								  <button type="button" class="btn btn-primary btn-lg btn-block-100" onclick="alert('로그인이 필요합니다'); location.href='/login';">등록</button>
								</div>
							</div>
						</div>
						
					  </div>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-primary btn-sm shadow-sm" data-toggle="modal" data-target="#commentModal"><i class="fas fa-plus fa-sm text-white-50"></i> 댓글 작성</button>
					</div>
				</div>
			</div>
		</div>
        <div class="card shadow mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<div style="text-align: right;">
							<form th:action="'/post/' + ${pageinfo.menu_code} + '/' + ${p.p_id}" method="get" id="searchForm">
								<input type="hidden" name="page" id="page" th:value="${pageVO.currentPage}">
								<label>
								  <div class="form-row align-items-center">
									<div class="col-auto my-1">
									  <select class="form-control form-control-sm" name="searchType" id="searchType">
										<option value="all">전체</option>
										<option value="title" th:selected="${pageVO.searchType eq 'title'}">제목</option>
										<option value="content" th:selected="${pageVO.searchType eq 'content'}">내용</option>
									  </select>
									</div>
									<div class="col-auto my-1">
									  <input type="search" class="form-control form-control-sm" name="searchWord" id="searchWord" th:value="${pageVO.searchWord}">
									</div>
									<div class="col-auto my-1">
									  <button type="button" class="btn btn-primary btn-sm" id="search"><i class="fas fa-search"></i></button>
									</div>
								  </div>
								</label>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-sm table-hover">
						  <thead>
							<tr>
							  <th scope="col">#</th>
							  <th scope="col">제목</th>
							  <th scope="col">작성자</th>
							  <th scope="col">작성일</th>
							  <th scope="col"><i class="fas fa-eye text-primary"></i></th>
							  <th scope="col"><i class="fas fa-heart text-danger"></i></th>
							</tr>
						  </thead>
						  <tbody>
						  	<tr class="trs" th:classappend="${post.p_id == p.p_id} ? 'table-active'" th:each="post : ${posts}">
							  <th scope="row" th:text="${post.p_id}"></th>
							  <td>
							  	<span class="text-dark" th:text="${post.ms_nm != 'null'} ? ${post.ms_nm}"></span>
							  	<span th:text="${post.p_title}"></span>
							  	<span class="text-primary font-weight-bold" th:text="'['+${post.cmt_cnt}+']'"></span>
							  </td>
							  <td th:text="${post.nick}"></td>
							  <td th:text="${post.created_at}"></td>
							  <td th:text="${post.p_cnt}"></td>
							  <td th:text="${post.p_good}"></td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-end" 
						  	th:with="lastPage=(${pageVO.totalPage < pageVO.endPage ? pageVO.totalPage : pageVO.endPage})">
						  	
							<li class="page-item" th:classappend="${pageVO.left <= 0} ? 'disabled'">
							  <a class="page-link" href="#" th:attr="data-page=(${pageVO.left > 0} ? ${pageVO.left})"><span aria-hidden="true">&laquo;</span></a>
							</li>
							<li class="page-item" th:each="page : ${#numbers.sequence(pageVO.startPage, lastPage)}" th:classappend="${page == pageVO.currentPage} ? 'active'">
								<a class="page-link" href="#" th:attr="data-page=${page}" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${pageVO.right <= 0} ? 'disabled'">
							  <a class="page-link" href="#" th:attr="data-page=(${pageVO.right > 0} ? ${pageVO.right})"><span aria-hidden="true">&raquo;</span></a>
							</li>
						  </ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
     
     <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="commentModalLabel">댓글</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/auth/modify/comment}" method="post" id="modalForm">
	        	<input type="hidden" name="pId" th:value="${p.p_id}">
	        	<input type="hidden" name="cmId">
	        	<input type="hidden" name="cmParent">
	          	<textarea class="summernote" id="modal-summernote" name="cmContent" required="required"></textarea>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	        <button type="button" class="btn btn-primary" id="modal-save">등록</button>
	      </div>
	    </div>
	  </div>
	</div>
     
	</div>
	
</html>